/* Mobile/Tablet View 375px */

@media screen and (min-width: 320px) {

    .navigation__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1.5rem;
    }

    .navigation__logo-container > img {
        width: 80px;
    }

    .navigation__links-container > ul {
        display: flex;
    }

    .navigation__links-container > ul > li {
        list-style: none;
        margin: 0 10px;
    }

    .navigation__links-container > ul > li > a {
        text-decoration: none;
        font-size: 12px;
        font-family: var(--ff-secondary);
        color: var(--clr-dark);
        
    }
}

/* Desktop View */

@media screen and (min-width: 768px) {

    .navigation__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem;
    }

    .navigation__logo-container > img {
        width: 120px;
    }

    .navigation__links-container > ul {
        display: flex;
    }

    .navigation__links-container > ul > li {
        list-style: none;
        margin: 0 10px;
    }

    .navigation__links-container > ul > li > a {
        text-decoration: none;
        font-size: 14px;
        
        color: var(--clr-dark);
    }
}