/* Mobile/Tablet View 375px */

@media screen and (min-width: 320px) and (max-width: 1439px) {

    .navigation__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 1.5rem 1.5rem;
    }

    .navigation__logo-container > img {
        width: 80px;
    }

    .navigation__links-container > ul {
        display: flex;
    }

    .navigation__links-container > ul > li {
        list-style: none;
        margin: 0 10px;
    }

    .navigation__links-container > ul > li > a {
        text-decoration: none;
        font-size: 12px;
        font-family: var(--ff-secondary);
        color: var(--clr-light);
        cursor: pointer;
    }
}

/* Desktop View */

@media screen and (min-width: 1440px) {

    .navigation__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 3rem 3rem;
        max-width: 1440px;
        margin: 0 auto;
    }

    .navigation__logo-container > img {
        width: 140px;
    }

    .navigation__links-container > ul {
        display: flex;
    }

    .navigation__links-container > ul > li {
        list-style: none;
        margin-left: 50px;
    }

    .navigation__links-container > ul > li > a {
        text-decoration: none;
        font-size: 14px;
        font-family: var(--ff-secondary);
        color: var(--clr-dark);
        cursor: pointer;
    }
}