*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

/* Global Custom Properties */

:root {
    --ff-primary: 'Nunito Sans', sans-serif;  /*Headings, Call-to-actions, Header Navigation*/
    --ff-secondary: 'Nunito Sans', sans-serif;  /*Body*/

    --fw-reg: 400;
    --fw-bold: 700;

    /* Primary */
    --clr-dark: hsl(243, 87%, 12%);
    --clr-light: hsl(238, 22%, 44%);

    /* Accent */
    --clr-accent-blue: hsl(224, 93%, 58%);
    --clr-accent-cyan: hsl(170, 45%, 43%);

    /* Neutral */
    --clr-neutral-blue: hsl(240, 75%, 98%);
    --clr-neutral-gray: hsl(0, 0%, 75%);

}

/* Global Styles */

body {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    color: var(--clr-dark);
}
