*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    margin: 0;
    padding: 0;
}

/* Global Custom Properties */

:root {
    --ff-primary: 'Raleway', sans-serif;  /*Headings, Call-to-actions, Header Navigation*/
    --ff-secondary: 'Open Sans', sans-serif;  /*Body*/

    --fw-reg: 400;
    --fw-bold: 700;

    /* Primary */
    --clr-dark: hsl(243, 87%, 12%);
    --clr-light: hsl(238, 22%, 44%);

    /* Accent */
    --clr-accent-blue: hsl(224, 93%, 58%);
    --clr-accent-cyan: hsl(170, 45%, 43%);

    /* Neutral */
    --clr-neutral-blue: hsl(240, 75%, 98%);
    --clr-neutral-gray: hsl(0, 0%, 75%);

}

/* Mobile View */

@media screen and (min-width: 320px) and (max-width: 1439px) {

    .main__imageSection-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        justify-content: center;
        align-items: center;
    }

    .bg__curve-desktop {
        display: none;
    }

    .bg__curve-mobile {
        width: 100%;
        height: 100%;
    }
}

/* Desktop View */

@media screen and (min-width: 1440px) {

    .main__imageSection-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        justify-content: center;
        align-items: center;
    }

    .bg__curve-mobile {
        display: none;
    }

    .bg__curve-desktop {
        width: 100%;
        height: 100%;
    }
}