/* Mobile/Tablet View 375px */

@media screen and (min-width: 320px) and (max-width: 1439px) {

  .section__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 44px;
    padding-bottom: 76px;
    background-color: var(--clr-light);
  }

  .section__container {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section__content-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section__content-container > h3 {
    color: var(--clr-neutral-blue);
    font-family: var(--ff-secondary);
    font-size: 16px;
    font-weight: var(--fw-reg);
  }

  .section__content-container > p {
    color: var(--clr-neutral-blue);
    font-family: var(--ff-secondary);
    font-size: 14px;
    font-weight: var(--fw-reg);
    padding-top: 14px;
    padding-bottom: 28px;
    text-align: center;
    line-height: 1.6;
  }

  .section__input-container {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section__input-container > input {
    width: 100%;
    height: 32px;
    border: 1px solid var(--clr-neutral-gray);
    border-radius: 2px;
    padding-left: 10px;
    font-family: var(--ff-secondary);
    font-size: 10px;
    font-weight: var(--fw-reg);
  }

  ::placeholder {
    color: var(--clr-neutral-gray);
  } 

  .section__input-container > button {
    width: 100%;
    height: 32px;
    background-color: var(--clr-accent-blue);
    color: var(--clr-neutral-blue);
    font-family: var(--ff-primary);
    font-size: 10px;
    font-weight: var(--fw-bold);
    border: none;
    border-radius: 2px;
    margin-top: 8px;
  }

}

/* Desktop View */

@media screen and (min-width: 1440px) {

  .section__wrapper {
    width: 100%;
    background-color: var(--clr-light);
  }

  .section__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1440px;
    margin: 0 auto;
  }

  .section__content-container {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    width: 690px;
    padding-left: 50px;
    padding-top: 100px;
  }

  .section__content-container > h3 {
    color: var(--clr-neutral-blue);
    font-family: var(--ff-secondary);
    font-size: 28px;
    font-weight: var(--fw-reg);
    padding-bottom: 20px;
  }

  .section__content-container > p {
    color: var(--clr-neutral-blue);
    font-family: var(--ff-secondary);
    font-size: 18px;
    font-weight: var(--fw-reg);
    padding-bottom: 40px;
    line-height: 1.6;
    width: 550px;
  }

  .section__input-container {
    grid-column: 2 / -1;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }

  .section__input-container > input {
    width: 440px;
    height: 50px;
    border-radius: 2px;
    border: 1px solid var(--clr-neutral-gray);
    font-family: var(--ff-secondary);
    font-size: 16px;
    font-weight: var(--fw-reg);
    line-height: 1.4;
    letter-spacing: 0.5px;
    padding-left: 16px;
  }

  .section__input-container > button {
    width: 170px;
    height: 50px;
    background-color: var(--clr-accent-blue);
    color: var(--clr-neutral-blue);
    font-family: var(--ff-primary);
    font-size: 14px;
    font-weight: var(--fw-bold);
    border: none;
    border-radius: 2px;
    margin-top: 8px;
    cursor: pointer;
  }
}